<div class="about">
  <p>
    Born & raised in America, I'm genuinely inspired by industrial minimalism
    and different cultures. Over six years in business, I have had a chance to
    work on a variety of projects, with agencies, companies or even individuals.
    Custom work is my territory, branding, web design, UI/UX design, print
    design & any offline design.
  </p>
  <p>
    You can find my design work on
    <a href="#">Dribbble</a>
    and
    <a href="#">Behance</a>
    , random thoughts
    <a href="#">Twitter</a>
    and
    <a href="#">Medium</a>
    , beautiful pics on
    <a href="#">Instagram</a>
    and almost a full resume on
    <a href="#">Linkedin</a>
    . For work inquires please send me an
    <a href="mailto:hello@persona.com">email</a>
    .
  </p>
</div>
