@use 'mixins.scss' as mixin;

:host {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;

  @include mixin.respond-to('medium') {
    top: 100px;
  }
}

.header {
  border-bottom: 1px solid var(--bg-primary);
  background-color: var(--main-bg-color);

  @include mixin.respond-to('medium') {
    background-color: unset;
    border-bottom: none;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__menu-button {
    display: block;

    @include mixin.respond-to('medium') {
      display: none;
    }
  }

  &__section-list {
    width: 100%;

    @include mixin.respond-to('medium') {
      width: 125px;
    }
  }

  &__section-link {
    display: block;
    position: relative;
    margin-bottom: 25px;
    padding-left: 40px;
    font-size: 11px;
    letter-spacing: 0.2em;
    color: var(--link-color);
    transition: color 0.3s ease-in-out;

    @include mixin.respond-to('medium') {
      padding-right: 40px;
      padding-left: 0;
      text-align: end;
    }

    &::after {
      position: absolute;
      left: 0;
      top: 4px;
      width: 4px;
      height: 4px;
      background-color: rgb(168 168 168 / 30%);
      border-radius: 50%;
      border: 2px solid transparent;
      content: '';
      transition: all 0.3s ease-in-out;

      @include mixin.respond-to('medium') {
        left: auto;
        right: 0;
      }
    }

    &--active,
    &:hover {
      color: var(--text-primary);
      text-decoration: none;

      &::after {
        transform: scale3d(1.2, 1.2, 1.2);
        background-color: transparent;
        border-color: var(--accent-color);
      }
    }
  }
}
