<section class="header" [@showHide]="isHeaderVisible">
  <div class="container">
    <div class="header__content">
      <img
        srcset="assets/images/logo.png, assets/images/logo@2x.png 2x"
        src="assets/images/logo@2x.png"
        alt="Persona Logo"
        height="41px"
        width="41px"
      />

      <button class="header__menu-button">...</button>

      <ul class="header__section-list">
        <li class="header__section-item" *ngFor="let section of sections">
          <a class="header__section-link" (click)="scrollToSection(section.id)">
            {{ section.title }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
