@use 'mixins.scss' as mixin;
@use 'animation.scss';

.introduction {
  height: 100vh;
  background: url('/assets/images/hero.jpg') top no-repeat;
  background-size: cover;

  &__content {
    padding-top: 250px;
    display: flex;
    flex-direction: column;
    animation-duration: 1.5s;
    animation-name: fadeIn;

    @include mixin.respond-to('medium') {
      flex-direction: row;
    }
  }

  &__logo-wrapper {
    margin-bottom: 30px;

    @include mixin.respond-to('medium') {
      width: 15%;
    }
  }

  &__main-info {
    width: 75%;
    display: flex;
    flex-direction: column;
    row-gap: 30px;

    @include mixin.respond-to('medium') {
      width: 55%;
    }
  }

  &__title {
    font-size: 30px;

    @include mixin.respond-to('medium') {
      font-size: 50px;
      line-height: 62px;
    }

    @include mixin.respond-to('large') {
      font-size: 60px;
      line-height: 72px;
    }
  }

  &__name {
    color: var(--accent-color);
  }
}

::ng-deep body.dark-theme .introduction {
  background-image: url('/assets/images/hero-dark.jpg');
}
