<section class="introduction">
  <div
    class="introduction__content container"
    [style.opacity]="ratio"
    [style.transform]="transform"
  >
    <div class="introduction__logo-wrapper">
      <img
        srcset="assets/images/logo.png, assets/images/logo@2x.png 2x"
        src="assets/images/logo@2x.png"
        alt="Persona Logo"
        height="41px"
        width="41px"
      />
    </div>

    <div class="introduction__main-info">
      <h2>Introduction</h2>

      <h1 class="introduction__title">
        Hi! I am
        <span class="introduction__name">{{ name }}</span>
        . Designer & Art Director. Based in New York.
      </h1>
    </div>
  </div>
</section>
