@use 'mixins.scss' as mixin;

.container {
  margin: 0 auto;
  padding: 0 1rem;

  @include mixin.respond-to('small') {
    max-width: 720px;
  }

  @include mixin.respond-to('medium') {
    max-width: 940px;
  }

  @include mixin.respond-to('large') {
    max-width: 1150px;
  }
}

.image--hovered {
  box-shadow: 0 8px 20px rgba(14, 21, 47, 0.6);
  transition: box-shadow 0.2s ease-out, transform 0.2s ease-out;
}
