body {
  --text-primary: #212121;
  --text-secondary: #777777;
  --accent-color: #ed3200;
  --main-bg-color: #ffffff;
  --bg-primary: #f2f2f2;
  --btn-bg-primary: #f7f7f7;
  --border-color: #e0e0e0;

  --btn-color: #777777;
  --link-color: #8a8a8a;
}

body.dark-theme {
  --text-primary: #ffffff;
  --text-secondary: #bfbfbf;
  --accent-color: #ed3200;
  --main-bg-color: #1e1e1e;
  --bg-primary: #777777;
  --btn-bg-primary: #f7f7f7;
  --border-color: #e0e0e0;
}
