@use 'mixins.scss' as mixin;

body {
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: var(--main-bg-color);
  color: var(--text-secondary);
  font: 16px source sans pro, arial, sans-serif;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

h1 {
  font-family: source sans pro, sans-serif;
  font-weight: 300;
  color: var(--text-primary);
}

h2 {
  font-family: lekton, sans-serif;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2em;
  color: var(--text-secondary);
}

a {
  color: var(--text-primary);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

p {
  font-size: 14px;
  line-height: 30px;
  padding-bottom: 20px;

  @include mixin.respond-to('large') {
    font-size: 16px;
    line-height: 36px;
    padding-bottom: 30px;
    margin-top: 0;
    margin-bottom: 0;
  }
}

ul {
  padding-left: 0px;
}

li {
  list-style-type: none;
}
