<div class="resume container">
  <section *ngFor="let section of sections">
    <section class="resume__section" [id]="section.id">
      <h2 class="resume__title">{{ section.title }}</h2>

      <ng-container [ngSwitch]="section.id">
        <ng-container *ngSwitchCase="SectionId.About">
          <app-about></app-about>
        </ng-container>
        <ng-container *ngSwitchCase="SectionId.Work">
          <app-work></app-work>
        </ng-container>
        <ng-container *ngSwitchCase="SectionId.Experience">
          <app-experience></app-experience>
        </ng-container>
        <ng-container *ngSwitchCase="SectionId.Clients"></ng-container>
        <ng-container *ngSwitchCase="SectionId.Contact"></ng-container>
      </ng-container>
    </section>
  </section>
</div>
