<div class="resume container">
  <section class="resume__section">
    <h2 class="resume__title">About</h2>

    <app-about></app-about>
  </section>
  <section class="resume__section">
    <h2 class="resume__title">Work</h2>

    <app-work></app-work>
  </section>
  <section class="resume__section">
    <h2 class="resume__title">Experience</h2>
  </section>
  <section class="resume__section">
    <h2 class="resume__title">Clients</h2>
  </section>
  <section class="resume__section">
    <h2 class="resume__title">Contact</h2>
  </section>
</div>
